<html>
    <style>
        body{
            font-family: 'Arial', sans-serif;
            margin: 0;
        }
        section{
            margin: 0;
            padding: 20px;
        }
    </style>
    <body>
        <section>
            <h1> Ciao, %name% </h1>
            <p>
                Benvenuto/a su <b>appunti.me</b>.<br>
                Ora che hai aggiunto il tuo indirizzo email istituzionale puoi caricare i tuoi appunti!<br>
                <a href="%link%">Clicca qui</a> per verificare il tuo account.<br><br>
                &mdash; Il team di appunti.me
            </p>
        </section>
    </body>
</html>